<html>

<head>
    <link rel="stylesheet" href="aboutus.css">
</head>
<div className="content">
    <div className="aboutus_heading">
        <h1 className="bookworldtag">
            BOOKWORLD
        </h1>
    </div>
    <div>
        <h3 style="font-style: italic; font-family: Helvetica; ">If you don't like to read, you haven't found the right
            book. - J.K. Rowling</h3>
    </div>

    <div>
        <p>
            At BOOKWORLD, we try to bring your favorite books to your door step.
        </p>
        <p>
            We offer a tremendous gathering of books in the various classifications of
            Fiction, Non-fiction, Biographies, History. So go on, explore the world of books!
        </p>
    </div>
    <div>
        <a href="http://127.0.0.1:5500/src/components/pages/authors.html">
            <button id="btn-auth-home" className="button_authors"><span> CLICK TO SEE FEATURED AUTHORS OF THE
                    MONTH</span></button>
        </a>
    </div>
</div>

</html>