<html>

<head>
    <link rel="stylesheet" href="authors.css">
</head>

<body>
    <ul class="tilesWrap">
        <li>
            <h2>01</h2>
            <h3>J K Rowling</h3>
            <p>
                J. K. Rowling, is a British author and philanthropist. She wrote a seven-volume children's fantasy
                series,
                Harry Potter, published from 1997 to 2007. The series has been enormously successful: it has sold
                over 500 million copies, been translated into at least 70 languages,
                and spawned a global media franchise including films and video games.
            </p>

        </li>
        <li>
            <h2>02</h2>
            <h3>James Rollins</h3>
            <p>
                James Rollins,[1] is an American veterinarian and writer of action-adventure/thriller, mystery,
                and techno-thriller novels who gave up his veterinary practice in Sacramento,
                California to be a full-time author. Rollins' experiences and expertise as an amateur spelunker and a
                certified scuba diver have provided content for some of his novels,
                which are often set in underground or underwater locations.
            </p>

        </li>
        <li>
            <h2>03</h2>
            <h3>Jane Austen</h3>
            <p>
                Jane Austen was an English novelist known primarily for her six major novels, which interpret, critique,
                and comment upon the British landed gentry at the end of the 18th century. Austen's plots often explore
                the dependence
                of women on marriage in the pursuit of favourable social standing and economic security.
            </p>

        </li>
        <li>
            <h2>04</h2>
            <h3>Abhilash Tomy</h3>
            <p>
                Commander Abhilash Tomy, KC, NM is a retired Indian naval officer and yachtsman.
                In 2013, he became the first Indian to complete a solo, non-stop circumnavigation of the world under
                sail,
                and he also competed in the 2018 Golden Globe Race.
            </p>

        </li>
    </ul>
</body>

</html>